<div class="patientView">
  <div class="slots">
    <h1>Slots</h1>
    <select (change)="onSelectedDoctorChange($event.target!)">
      <option value="" selected disabled hidden>Choose a doctor</option>
      <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.username}}</option>
    </select>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Start</th>
          <th>End</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let slot of slots">
          <td>{{slot.id}}</td>
          <td>{{slot.start}}</td>
          <td>{{slot.end}}</td>
          <td><button (click)="scheduleAppointment(slot.id)">Schedule appointment</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="appointments">
    <h1>Appointments</h1>
    <p>
      Note that editing the slot id edits the appointment start date, end date, and doctor according to the target
      slot. This is what is required in the project.
    </p>
    <table>
      <thead>
        <tr>
          <th>Slot ID</th>
          <th>Start</th>
          <th>End</th>
          <th>Doctor username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{appointment.slotId}} (<button (click)="editAppointmentSlot(appointment.id)">Edit</button>)</td>
          <td>{{appointment.start}}</td>
          <td>{{appointment.end}}</td>
          <td>{{appointment.doctorUsername}}</td>
          <td><button (click)="cancelAppointment(appointment.id)">Cancel</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
