<div class="patientView">
  <div class="slots">
    <h1>Slots</h1>
    <select (change)="onSelectedDoctorChange($event.target!)">
      <option value="" selected disabled hidden>Choose a doctor</option>
      <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.username}}</option>
    </select>
    <ul>
      <li *ngFor="let slot of slots">
        ID: {{slot.id}}<br>Start: {{slot.start}}<br>End: {{slot.end}}<br>
        <button (click)="scheduleAppointment(slot.id)">Schedule appointment</button>
      </li>
    </ul>
  </div>
  <div class="appointments">
    <h1>Appointments</h1>
    <p>
      Note that editing the slot id edits the appointment start date, end date, and doctor according to the target
      slot. This is what is required in the project.
    </p>
    <ul>
      <li *ngFor="let appointment of appointments">
        Slot ID: {{appointment.slotId}} <button (click)="editAppointmentSlot(appointment.id)">Edit</button><br>
        Start: {{appointment.start}}<br>End: {{appointment.end}}<br>Doctor: {{appointment.doctorUsername}}<br>
        <button (click)="cancelAppointment(appointment.id)">Cancel</button>
      </li>
    </ul>
  </div>
</div>
