<div class="doctorView">
  <div class="slots">
    <h1>Slots <button (click)="createSlot()">Create new</button></h1>
    <ul>
      <li *ngFor="let slot of slots">
        ID: {{slot.id}}<br>Start: {{slot.start}}<br>End: {{slot.end}}<br>
        <button (click)="editSlot(slot.id)">Edit</button> -
        <button (click)="deleteSlot(slot.id)">Delete</button>
      </li>
    </ul>
  </div>
  <div class="appointments">
    <h1>Appointments</h1>
    <ul>
      <li *ngFor="let appointment of appointments">
        Slot ID: {{appointment.slotId}}<br>Start: {{appointment.start}}<br>End: {{appointment.end}}<br>
        Patient: {{appointment.patientUsername}}
      </li>
    </ul>
  </div>
</div>
